In [4]:
import pandas as pd
import numpy as np
import lightgbm as lgb
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [5]:
# loading datasets into dataframe
df_ireland = pd.read_csv("HSM09.20230503130900.csv")
df_Germany = pd.read_csv("Germany-data1.csv")

In [6]:
# displaying the dataframe
df_ireland

,STATISTIC,STATISTIC Label,TLIST(M1),Month,C02196V02652,State,UNIT,VALUE
0,HSM09,House Construction Cost Index,1975M01,1975M01,-,State,Base Jan 1991=100,18.3
1,HSM09,House Construction Cost Index,1975M02,1975M02,-,State,Base Jan 1991=100,18.7
2,HSM09,House Construction Cost Index,1975M03,1975M03,-,State,Base Jan 1991=100,18.8
3,HSM09,House Construction Cost Index,1975M04,1975M04,-,State,Base Jan 1991=100,19.6
4,HSM09,House Construction Cost Index,1975M05,1975M05,-,State,Base Jan 1991=100,19.8
...,...,...,...,...,...,...,...,...
508,HSM09,House Construction Cost Index,2017M04,2017M04,-,State,Base Jan 1991=100,210.7
509,HSM09,House Construction Cost Index,2017M05,2017M05,-,State,Base Jan 1991=100,211.1
510,HSM09,House Construction Cost Index,2017M06,2017M06,-,State,Base Jan 1991=100,211.2
511,HSM09,House Construction Cost Index,2017M07,2017M07,-,State,Base Jan 1991=100,211.4
512,HSM09,House Construction Cost Index,2017M08,2017M08,-,State,Base Jan 1991=100,211.4

In [7]:
# replacing M with -
df_ireland['Month'] = df_ireland['Month'].str.replace('M', '-')