In [2]:
import pandas as pd
import numpy as np
import lightgbm as lgb
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
# loading datasets into dataframe
df_ireland = pd.read_csv("HSM09.20230503130900.csv")
df_Germany = pd.read_csv("Germany-data1.csv")

In [4]:
# displaying the dataframe
df_ireland

,STATISTIC,STATISTIC Label,TLIST(M1),Month,C02196V02652,State,UNIT,VALUE
0,HSM09,House Construction Cost Index,1975M01,1975M01,-,State,Base Jan 1991=100,18.3
1,HSM09,House Construction Cost Index,1975M02,1975M02,-,State,Base Jan 1991=100,18.7
2,HSM09,House Construction Cost Index,1975M03,1975M03,-,State,Base Jan 1991=100,18.8
3,HSM09,House Construction Cost Index,1975M04,1975M04,-,State,Base Jan 1991=100,19.6
4,HSM09,House Construction Cost Index,1975M05,1975M05,-,State,Base Jan 1991=100,19.8
...,...,...,...,...,...,...,...,...
508,HSM09,House Construction Cost Index,2017M04,2017M04,-,State,Base Jan 1991=100,210.7
509,HSM09,House Construction Cost Index,2017M05,2017M05,-,State,Base Jan 1991=100,211.1
510,HSM09,House Construction Cost Index,2017M06,2017M06,-,State,Base Jan 1991=100,211.2
511,HSM09,House Construction Cost Index,2017M07,2017M07,-,State,Base Jan 1991=100,211.4
512,HSM09,House Construction Cost Index,2017M08,2017M08,-,State,Base Jan 1991=100,211.4

In [5]:
# replacing M with -
df_ireland['Month'] = df_ireland['Month'].str.replace('M', '-')

In [6]:
# show the dataframe
df_ireland

,STATISTIC,STATISTIC Label,TLIST(M1),Month,C02196V02652,State,UNIT,VALUE
0,HSM09,House Construction Cost Index,1975M01,1975-01,-,State,Base Jan 1991=100,18.3
1,HSM09,House Construction Cost Index,1975M02,1975-02,-,State,Base Jan 1991=100,18.7
2,HSM09,House Construction Cost Index,1975M03,1975-03,-,State,Base Jan 1991=100,18.8
3,HSM09,House Construction Cost Index,1975M04,1975-04,-,State,Base Jan 1991=100,19.6
4,HSM09,House Construction Cost Index,1975M05,1975-05,-,State,Base Jan 1991=100,19.8
...,...,...,...,...,...,...,...,...
508,HSM09,House Construction Cost Index,2017M04,2017-04,-,State,Base Jan 1991=100,210.7
509,HSM09,House Construction Cost Index,2017M05,2017-05,-,State,Base Jan 1991=100,211.1
510,HSM09,House Construction Cost Index,2017M06,2017-06,-,State,Base Jan 1991=100,211.2
511,HSM09,House Construction Cost Index,2017M07,2017-07,-,State,Base Jan 1991=100,211.4
512,HSM09,House Construction Cost Index,2017M08,2017-08,-,State,Base Jan 1991=100,211.4

In [7]:
#df_ireland = df_ireland[df_ireland['Month'] != '2007-O4']
# Replace '2007-O4' with NaN
#df_ireland['Month'] = df_ireland['Month'].replace('2007-O4', pd.NaT)

In [8]:
print(df_ireland.columns)

Index(['STATISTIC', 'STATISTIC Label', 'TLIST(M1)', 'Month', 'C02196V02652',
       'State', 'UNIT', 'VALUE'],
      dtype='object')

In [9]:
# remove '2007-O4' value
df_ireland = df_ireland[df_ireland['Month'] != '2007-O4']